body, html {
    width: 100% !important;
    height: 100% !important;
    font-weight: normal !important;
}

body{
    overflow: hidden;
}

* {
    margin: 0px;
    padding: 0px;
}

.top-bar {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
}

i {
    display: block;
}

.login-container {
    display: table-cell;
    text-align: left;
    width: 50%;
    font-family: "Segoe UI";
    vertical-align: middle;
}

    .login-container .title {
        text-transform: lowercase;
        color: #000;
        font-size: 28px;
        width: 100%;
        height: 36px;
        line-height: 36px;
        display: block;
    }

    .login-container .box {
        margin: 4px 0px;
        width: 200px;
        display: block;
        height: 30px;
        line-height: 30px;
    }

    .login-container input[type=text], .login-container input[type=password] {
        width: 99.6%;
        border: 1px solid #ccc;
        font-family: "Segoe UI";
        height: 24px;
        line-height: 24px;
        margin: 2px 0px 0px 0px;
    }

    .login-container input[type=submit] {
        border: 0px;
        height: 30px;
        line-height: 30px;
        padding: 0px 20px;
        font-family: "Segoe UI" !important;
        font-size: 14px;
        cursor: pointer;
    }

.black input[type=submit] {
    background-color: #000000;
    color: #FFFFFF;
}

.blue input[type=submit] {
    background-color: #0000FF;
    color: #FFFFFF;
}

.red input[type=submit] {
    background-color: #FF0000;
    color: #FFFFFF;
}

label, input[type=checkbox] {
    cursor: pointer;
    float: left;
}

label {
    font-size: 13px;
    padding: 0px;
    font-family: "Segoe UI" !important;
}

input[type=checkbox] {
    margin: 9px 5px 0px 0px;
}

.logotipo {
    width: 50%;
    background: transparent url(logo_printer.png) no-repeat center center;
    text-align: right;
    padding-right:10px;
    margin-top: 50px;
    display: table-cell;
    vertical-align: middle;
}

.errorRow {
    font-size: 15px;
    color: #FF0000;
    display: block;
    width: 100%;
    text-align: center;
    height:10px;
    margin-top: 20px;
}

#captchaContainer {
    width: 200px;
    height: auto;
}

    #captchaContainer p {
        float: left;
    }

.LBD_CaptchaDiv {
    float: left;
    margin-top:5px;
}

#botCaptcha_CaptchaCode {
    margin-top: 10px;
}

.LBD_SoundIcon{
    display:none!important;
}

.displayNone{
    display:none;
}

.mainContainer{
    width: 100%;
    margin-top: 10px;
    display: table;
}

.mainContainer>div{
    display: table-row;
}

.submitRow{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.submitRow input{
    border: 0px;
    line-height: 30px;
    padding: 0px 20px;
    font-family: "Segoe UI" !important;
    font-size: 14px;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
}

.cssTable{
    display:table;
    width: 100%;
}

.row {
    display: table-row;
    width: 100%;
}

form{
    width: 100%;
    top: 25%;
    position:absolute;
    height: 100%;
}